/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(249, 244, 190);
}

.body-container {
  width: 90%;
  font-family: Roboto;
  margin: auto;
}

 .navbar-calc {
  justify-content: space-between;
  background: white;
  font-family: Roboto;
  padding: 10px;
  background-color: palegoldenrod;
  height:40px;
}

.navbar-calc .navbar-brand img {
  width: 40px;
}

 .footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: lightsalmon;
  font-family: Roboto;
  top: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.pg-container {
  background-color: white;
  padding: 10px;
  min-height: calc(100vh - 170px);
}

.content-container {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.left-container {
  height: fit-content;
  width: 50%;
}

form label {
  width: 100%;
  margin: 10px;
  font-size: small;
}

form input {
  width: 50%;
  margin: 10px;
}

form button {
  margin: 10px;
}

select {
  margin: 10px;
  width: 50%;
}

.right-container {
  height: fit-content;
  width: 50%;
}
